.input_icon {
  background-color: transparent;
}

.input {
  border-left: 0;
  border-right: 0;
}
.input:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.input_button {
  width: 100%;
}
.input_button button {
  width: 100%;
  background-color: #5B6AD0;
}

.sort_button button {
  border-color: grey;
}
.sort_button button:hover {
  background-color: #5B6AD0;
  color: white;
}
.sort_button li button:active {
  background-color: #5B6AD0;
  color: white;
}

.user_table tbody {
  border-top: 0 !important;
}

.page_number {
  text-decoration: none;
  color: black;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.page_number:hover {
  background-color: #5B6AD0 !important;
  color: white;
}

.page_nav {
  color: black;
  text-decoration: none;
}
.page_nav:hover {
  color: #5B6AD0;
}

@media (min-width: 992px) {
  .input_button {
    width: 50%;
  }
}