.titleImage {
  position: absolute;
  color: white;
}

.chat {
  align-items: center;
  width: 52px;
  height: 52px;
}

.imgIcon {
  color: #fff;
  filter: invert(1) sepia(1) saturate(20) hue-rotate(275deg);
  width: 38px;
  height: 38px;
  margin-right: 10px;
}
