.header {
	color: #5d6fff;
	font-size: 50px;
	font-style: italic;
	margin-bottom: 20px;
	display: inline-block;
}

.container {
	min-height: 100vh;
}

.transaction {
	color: #4455a2;
	font-weight: 700;
	font-size: 30px;
	padding: 30px 10px;
	display: inline-block;
}
